.wrapper {
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    align-items: flex-start;
}

@media (max-width: 768px) {
    /* 
    Devido ao uso de rem como unidade de medida,
    faz sentido redimensionar o font-size para o 
    tamanho de mobile para caber mais informação na tela.
    1rem = 16px = 100%, logo para 14px tem-se 87.5%.
    Não utilizar em pixel pois este seria um valor fixo e 
    não um valor relativo.
    */
    html {
        font-size: 87.5%;
    }

    .wrapper {
        grid-template-columns: 1fr;
    }
}

.content {
    background: var(--gray-800);
    border-radius: 8px;
    padding: 2.5rem;
    margin-top: 1rem;
}

.commentContainer {
    background: var(--gray-900);
    border-radius: 8px;
    padding: 2.5rem;
    margin-top: 1rem;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.commentContainer span {
    background: var(--gray-800);
    border-radius: 8px;

    padding: 1rem;
    display: block;
    font-size: 0.875rem;
    color: var(--gray-400);
    line-height: 1.6;
}

.commentContainer button {
    background: transparent;
    border: 0;
    color: var(--gray-400);
    cursor: pointer;
    /* line-height 0 para que quando o botão seja selecionado, sua selação seja condizente com o tamanho do ícone */
    line-height: 0; 
    border-radius: 2px;
}

.commentContainer button:hover {
    color: var(--red-500);
}

.commentForm {
    background: var(--gray-800);
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    border-top: 1px solid var(--gray-600);
    border-radius: 8px;
}

.commentForm > strong {
    line-height: 1.6;
    color: var(--gray-100);
}

.commentForm textarea {
    background: var(--gray-900);
    width: 100%;
    border: 0;
    resize: none;
    height: 6rem;
    padding: 1rem;
    border-radius: 8px;
    color: var(--gray-100);
    line-height: 1.4;
    margin-top: 1rem;
}

.commentForm button[type=submit] {
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    border-radius: 8px;
    border: 0;
    background: var(--green-500);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s;
}

.commentForm button[type=submit]:not(:disabled):hover {
    background: var(--green-300);
}

.commentForm button[type=submit]:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}