.card {
    background: var(--gray-800);
    border-radius: 8px;
    padding: 2.5rem;
}

/* 
Style every post that has a post before it
 */
.card + .card {
    margin-top: 2rem;
}

.post > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contentInfo strong {
    display: block;
    color: var(--gray-100);
    line-height: 1.6;
}

.contentInfo span {
    display: block;
    font-size: 0.875rem;
    color: var(--gray-400);
    line-height: 1.6;
}

.contentInfo button {
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    border-radius: 8px;
    border: 0;
    background: var(--green-500);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s;
}

.contentInfo button:hover {
    background: var(--green-300);
}
